body {
    background: url("headshot-cropped.jpg") repeat center;
    background-size: cover;
    background-repeat: repeat-y;
    background-attachment: fixed;
    line-height: 1.88889;
}

h1 {
    color: rgb(253, 253, 238);
    font-family: Verdana;
    font-size: 80px;
    text-shadow: 0px 2px 2px black;
    text-align: center;
    transition: transform .5s;
}

h1:hover {
    color: rgb(109, 155, 255);
    font-size: 85px;
    transform: rotate(360deg);
}

h2 {
    font-family: sans-serif;
    font-size: xx-large;
}

h2.intro {
    color: rgb(253, 253, 238);
    font-family: Verdana;
    text-align: center;
    text-shadow: 0px 2px 2px black;
}

h3 {
    color: rgb(21, 33, 64);
    font-family: sans-serif;
    font-size: x-large;
}

.image {
    padding-bottom: 50px;
    text-align: center;
}

.screenshot {
    text-align: center;
}

p {
    color:black;
    font-family: Verdana, sans-serif;
    text-align: justify;
}

p.screenshot {
    font-family: sans-serif;
    font-size: x-large;
    text-align: center;
}

.sections {
    background: url("blue-gif.gif");
    background-size: cover;
    border-style: solid;
    border-color: rgb(253, 253, 238);
    border-width: 5px;
    padding: 15px 30px;
    margin-left: .5%;
    margin-right: .5%;
    margin-bottom: 1%;
    color: black;
}

.button {
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: bold;
    background-color: #7db7ff;
    border-style: none;
    border-color: rgb(253, 253, 238);
    border-width: 5px;
    color: rgb(253, 253, 238);
    height: 100px;
    width: 200px;
    position: absolute;
    left: 10%;
    top: 65%;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.374);
    transition: transform 1s;
}

.button:hover {
    height: 100px;
    width: 200px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.374);
    transform: translate(0, 2);
}

a.link_button:link, a.link_button:visited {
    background-color: #7db7ff;
    color: rgb(253, 253, 238);
    border-style: solid;
    border-color: rgb(253, 253, 238);
    margin-bottom: 1%;
    margin-top: 1%;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: transform .5s;
  }
  
a.link_button:hover {
    transform: rotate(15deg);
}

a.link_button:active {
    width: 100px;
    background-color: #00b3ff;
    border-color: white;
}

.hiking, .arrow, .tree {
    display: none;
}